.cards {
    /* margin: 40px; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 415px;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 50px;
    cursor: pointer;
  }
  
  .cards:hover {
    width: 515px;
    height: 425px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cards-image {
    object-fit: fill;
    size: 1000px;
  }
  
  .card-info {
      margin-top: -9px;
      border-radius: 10px;
      padding: 20px;
      padding-top: 20px;
      border: 1;
    }
  
    .card-info > h2 {
      font-size: 18px;
      font-weight: 600;
    }
    
    .card-info > h4 {
      font-size: 14px;
      font-weight: 300;
      margin-top: 8px;
      margin-bottom: 8px;
    }