.date{
    position: absolute; /*important*/
    top: 35px;
    left: 35%;
}

.date>h2{
    display: flex; /*important*/
    align-items: center;
    width: 580px;
    padding-top: 5px;
    justify-content: space-between; /*important*/
    left: 0;
}
.date>input{
    width: 400px;
    height: 25px;
    border: none;
    margin-top: 12px;
}
.date>button{
    position: absolute;
    color: white;
    background-color: #ff7779;
    z-index: 100%;
    width: 140px;
    margin-left: 40px;
    margin-top: 10px;
}
.date>button:hover{
    background-color: white;
    color: #ff7779;
}