.header{
  display: flex;
  justify-content:space-between; /*imp */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-logo{
  height: 50px;
  margin-left: 60px;
  margin-top: 8px;
  
}

.header-searchbar{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 800px;
  margin-top: 20px;
 
}
/* imp */
.header-searchbar>input{
  border: none;
  width: 250px;
  outline-width: 0; /*imp*/
}

.header-right{
  display: flex;
padding-left: 1.5vh;
padding-top: 1.6vh;
margin-right: 8vh;
margin-top: 2vh;
  align-items: center;
  padding-top: 0.7vh;
  padding-right: 80px;
}
.users{
  display: inline-block;
  padding-top: 2vh;
  padding-left: 1vh;
}
.lang-icon{
  padding-right: 2vh;
}


